### import nesessary data

In [1]:
import pandas as pd
import numpy as np

In [4]:
claimants_data = pd.read_csv('claimants.csv')
claimants_data

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

In [5]:
claimants_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CASENUM   1340 non-null   int64
 1   ATTORNEY  1340 non-null   int64
 2   CLMSEX    1328 non-null   float64
 3   CLMINSUR  1299 non-null   float64
 4   SEATBELT  1292 non-null   float64
 5   CLMAGE    1151 non-null   float64
 6   LOSS      1340 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 73.4 KB

In [7]:
del claimants_data['CASENUM']

In [9]:
claimants_data.dropna(inplace=True)

In [14]:
X = claimants_data.drop(['ATTORNEY'],axis=1)
y = claimants_data.ATTORNEY

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size= 0.20, random_state=12 )

In [17]:
X_test

      CLMSEX  CLMINSUR  SEATBELT  CLMAGE   LOSS
380      1.0       1.0       0.0     8.0  0.989
134      1.0       1.0       0.0    31.0  4.460
243      0.0       1.0       0.0    35.0  3.033
972      1.0       1.0       0.0    40.0  4.108
654      0.0       1.0       0.0    43.0  0.405
...      ...       ...       ...     ...    ...
1096     0.0       1.0       0.0    50.0  3.095
517      0.0       1.0       0.0    37.0  3.709
694      0.0       1.0       0.0    19.0  0.348
656      0.0       1.0       0.0    35.0  3.360
263      1.0       1.0       0.0    30.0  0.760

[220 rows x 5 columns]

In [18]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression()
logistic_model.fit(X_train,y_train)

LogisticRegression()

In [21]:
predicted = logistic_model.predict(X_test)

### model evalueation

In [20]:
from sklearn.metrics import accuracy_score

In [22]:
accuracy_score(y_test,predicted)

0.6863636363636364